/* Global */
:root {
  --color-white:#ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f8bbd0;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-black: #000000;
  --color-grey: #757575;
  --color-light-grey: #7c7979;
  --color-blue: #bbdefb;
  --color-yellow: #fff176;
  --color-orange: #feb546;
  
  /* font */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */

}

* {
  box-sizing: border-box;
}